body {
    padding: 0 24px;
    margin: 0;
}

.profile {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    padding: clamp(24px, calc((100vw - 540px) / 2), 72px) 0;
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.profileHeader {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.profileHeader > h1 {
    color: var(--gray1);
    font-weight: var(--font-weight-bold);
}

.profileHeader > h1, .profileHeader > p {
    margin: 0;
}

.about {
    display: flex;
    flex-direction: column;
    gap: calc(var(--font-size) * var(--line-height));
}

.about > p {
    margin: 0;
}

.projectName {
    color: var(--gray1);
    margin: 0;
}

.projectDescription {
    color: var(--gray2);
    margin: 0;
}

.projectItem {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.projectItem, .projectItem * {
    transition: color 0.25s ease-in-out;
}

.projectItem > p {
    margin: 0;
}

.projectList {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.projectList:has(.projectItem .projectName a:hover) .projectItem:not(:has(.projectName a:hover)),
.projectList:has(.projectItem .projectName a:hover) .projectItem:not(:has(.projectName a:hover)) * {
    color: var(--not-active);
}

p {
    line-height: var(--line-height);
    color: var(--gray2);
    margin: 4px 0;
}

a {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--line);
}

a:hover {
    border-bottom: 1px solid var(--gray2);
}

a:focus {
    background-color: var(--focus-state);
    outline: none;
}

.disabled {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: not-allowed;
    border-bottom: 1px solid var(--line);
}

.disabledLabel {
    border-bottom: 1px solid var(--line);
}

.linkArrow {
    white-space: nowrap;
}

.linkArrow svg {
    margin-left: 2px;
}